In [ ]:
# Import libraries
import pandas as pd
import numpy as np

In [ ]:
filename = 'data/car_financing.xlsx'
df = pd.read_excel(filename)

## Basic Operations

1. Assure that you have correctly loaded the data. 
2. See what kind of data you have. 
3. Check the validity of your data.

### Viewing the first and last 5 rows

In [ ]:
# Select top N number of records (default = 5)
df.head()

In [ ]:
# Select bottom N number of records (default = 5)
df.tail()

### Check the column data types

In [ ]:
# Check the column data types using the dtypes attribute
# For example, you can wrongly assume the values in one of your columns is 
# a int64 instead of a string. 
df.dtypes

In [ ]:
# Use the shape attribute to get the number of rows and columns in your dataframe
df.shape

In [ ]:
# The info method gives the column datatypes + number of non-null values
# Notice that we seem to have 408 non-null values for all but the Interest Paid column. 
df.info()