# 07_04: Yearly Top Ten Names

In [ ]:
import math
import collections

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [ ]:
pd.options.display.max_rows = 10

In [ ]:
allyears = pd.read_csv('allyears.csv.gz')

In [ ]:
allyears_byyear = allyears.set_index(['sex','year']).sort_index()

In [ ]:
allyears_byyear.loc['M',2018].sort_values('number', ascending=False)

In [ ]:
allyears_byyear.loc['M',2018].sort_values('number', ascending=False).head(10)

In [ ]:
allyears_byyear.loc['F',2018].sort_values('number', ascending=False).head(10)

In [ ]:
allyears_byyear.loc['F',2018].sort_values('number', ascending=False).head(10).reset_index().name

In [ ]:
# get the top ten names for sex and year

def getyear(sex, year):
    return (allyears_byyear.loc[sex, year]             # select M/F, year
               .sort_values('number', ascending=False) # sort by most common
               .head(10)                               # only ten
               .reset_index()                          # lose the index
               .name)                                  # return a name-only Series

In [ ]:
# create DataFrame with columns given by top ten name Series for range of years
pd.DataFrame({year: getyear('M',year) for year in range(2010,2019)})

In [ ]:
pd.DataFrame({year: getyear('F',year) for year in range(2010,2019)})

In [ ]:
# similar to plotname in 07_03_popularity, but using a query on unindexed data
def plotname(sex, name):
    data = allyears.query('sex == @sex and name == @name')
    
    pp.plot(data.year, data.number, label=name)
    pp.axis(xmin=1880, xmax=2018)

In [ ]:
pp.figure(figsize=(12,2.5))

for name in getyear('F',2018):
    plotname('F', name)

pp.legend()

In [ ]:
pp.figure(figsize=(12,2.5))

for name in getyear('M',2018):
    plotname('M', name)

pp.legend()

In [ ]:
list(getyear('M',2018))

In [ ]:
pp.figure(figsize=(12,2.5))

for name in ['Liam','Noah','Oliver','Benjamin','Elijah','Lucas','Mason','Logan']:
    plotname('M', name)

pp.legend()

In [ ]:
# get all time favorites: select F, group by name, sum over years, sort, cap 
alltime_f = allyears_byyear.loc['F'].groupby('name').sum().sort_values('number', ascending=False).head(10)

In [ ]:
alltime_f

In [ ]:
pp.figure(figsize=(12,2.5))

for name in alltime_f.index:
    plotname('F', name)

pp.legend()