In [1]:
!pip install pandas

Requirement already satisfied: pandas in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (0.23.4)
Requirement already satisfied: pytz>=2011k in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from pandas) (2018.7)
Requirement already satisfied: numpy>=1.9.0 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from pandas) (1.16.2)
Requirement already satisfied: python-dateutil>=2.5.0 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas) (1.11.0)
WARNING: You are using pip version 19.2.2, however version 19.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
import pandas as pd

In [3]:
price_data = pd.read_csv('price.csv')

In [4]:
price_data.head()

  Things  Quantity  Total_Price
0  Spoon     105.0         1050
1  Plate      78.0         2250
2    Cup      90.0         1550
3   Fork       NaN          890
4  Bread      21.0          620

In [6]:
price_data.isnull()

   Things  Quantity  Total_Price
0   False     False        False
1   False     False        False
2   False     False        False
3   False      True        False
4   False     False        False
5   False     False        False

In [7]:
price_data = price_data.fillna(0)

In [8]:
price_data.head()

  Things  Quantity  Total_Price
0  Spoon     105.0         1050
1  Plate      78.0         2250
2    Cup      90.0         1550
3   Fork       0.0          890
4  Bread      21.0          620